<div class="container">
  <div class="tasks-list">
    <dl>
      <dd class="task-item"><span class="task-check-mark"><span class="cm-inner"></span></span> Jog around the park 3x</dd>
      <dd class="task-item"><span class="task-check-mark"><span class="cm-inner"></span></span> 10 minutes meditation</dd>
      <dd class="task-item"><span class="task-check-mark"><span class="cm-inner"></span></span> Read fo 1 hour</dd>
      <dd class="task-item"><span class="task-check-mark"><span class="cm-inner"></span></span> Pick up groceries</dd>
      <div class="todo-footer task-item">
        <div>3 items left</div>
        <div class="task-filters"><span>All</span><span>Active</span><span>Completed</span></div>
        <div>Clear Completed</div>
      </div>
    </dl>
  </div>
  <div class="mobile task-item"><span>All</span><span>Active</span><span>Completed</span></div>
</div>
