@use '../../../styles';
@use '../main/main.component';
@use '../../app.component';

$component: 'task';

%task-item {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 24px;
    text-align: left;  
    span.task-check-mark {
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        span.cm-inner {
            display: inline-block;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            margin-left: 1px;
        }
    }
}
.container {
    @include app.theme-colors($component);
    .tasks-list {
        border-radius: 5px;
        div:last-child {
            border-bottom: none;
        }
        .todo-footer.task-item {
            @media (max-width: styles.$layout-mobile) {
                .task-filters {
                    display: none;
                }
            }
            display: flex;
            justify-content: space-between;
            padding: 24px;
            div {
                display: inline-block;
                width: auto;
                font-size: 16px;
                span {
                    padding: 0 10px;
                }
            }
        }
        dd.task-item {
            @extend %task-item;
        }
    }
    .mobile.task-item {
        display: none;
        margin: 0;
        align-items: center;
        justify-content: center;
        padding: 24px;
        font-weight: 700;
        span {
            padding: 10px;
        }
    }
    @media (max-width: styles.$layout-mobile) {
        .mobile.task-item {
            display: flex;
        }
    }
    
}
