@use '../styles';

//theme styles

@mixin theme-colors($component) {

    %dark-task-item {
        color: styles.$light-grayish-blue;
        border-bottom: 2px solid styles.$very-dark-grayish-blue;
        span.task-check-mark {
            background-color: styles.$very-dark-grayish-blue;
            .cm-inner {
                background-color: styles.$very-dark-desaturated-blue;
            }
        }
        span.task-check-mark:hover{
            background: -moz-linear-gradient(hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
            background: -webkit-linear-gradient(hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
            background: linear-gradient(hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
        }
    }

    @if styles.$dark-theme and $component == 'main' {
        width: 100%;
        @media (max-width: styles.$layout-mobile) {
            
            background: url('../assets/images/bg-mobile-dark.jpg') no-repeat top;
            background-size: contain;
        }
        background: url('../assets/images/bg-desktop-dark.jpg') no-repeat top;
        background-size: contain;
    }
    @if styles.$dark-theme and $component == 'add-tasks' {
        .task-input {
            background-color: styles.$very-dark-desaturated-blue;
            div.task-item {
                input.task-item-text {
                    background-color: styles.$very-dark-desaturated-blue;
                    color: styles.$light-grayish-blue;
                }
            }
        }
        .task-item {
            @extend %dark-task-item;
        }
    }
    @if styles.$dark-theme and $component == 'task' {
        .tasks-list {
            background-color: styles.$very-dark-desaturated-blue;
            .task-item {
                @extend %dark-task-item;
            }
            .todo-footer.task-item {
                div {
                    color: styles.$dark-grayish-blue;
                }
            }
        }
        .mobile.task-item {
            background-color: styles.$very-dark-desaturated-blue;
            color: styles.$dark-grayish-blue;
        }
    }
        
  };