// styles.scss

@use '../styles';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

div.main {
    .todo-container {
        font-family: styles.$font-stack;
        @media (max-width: styles.$layout-mobile) {
            padding: 80px 24px 0 24px;
            width: auto;
        }
        text-align: center;
        margin: 0 auto;
        width: 540px;
        padding: 80px 24px 0 24px;
        h1 {
            color: white;
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 20px;
            text-align: left;
            margin-bottom: 50px;
        }
        .todo-footer.task-item {
            @media (max-width: styles.$layout-mobile) {
                .task-filters {
                    display: none;
                }
                
            }
            display: flex;
            justify-content: space-between;
            padding: 24px;
            div {
                display: inline-block;
                width: auto;
                font-size: 16px;
                span {
                    padding: 0 10px;
                }
            }
        }
        dd.task-item, dt.task-item {
            margin: 0;
            display: flex;
            align-items: center;
            padding: 24px;
            text-align: left;
            span.task-check-mark {
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-right: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                span.cm-inner {
                    display: inline-block;
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    margin-left: 1px;
                }
            }
        }
        .tasks-list {
            border-radius: 5px;
            div:last-child {
                border-bottom: none;
            }
        }
        .mobile.task-item {
            display: none;
            margin: 0;
            align-items: center;
            justify-content: center;
            padding: 24px;
            font-weight: 700;
            span {
                padding: 10px;
            }
        }
        @media (max-width: styles.$layout-mobile) {
            .mobile.task-item {
                display: flex;
            }
        }
        .task-input {
            display: flex;
            align-items: center;
            border-radius: 5px;
            dl {
                margin: 0;
                dt.task-item {
                    border-bottom: none;
                }
            }
        }
        
    }
}


.dark-theme {
    width: 100%;
    @media (max-width: styles.$layout-mobile) {
        
        background: url('../assets/images/bg-mobile-dark.jpg') no-repeat top;
        background-size: contain;
    }
    background: url('../assets/images/bg-desktop-dark.jpg') no-repeat top;
    background-size: contain;
   
    .tasks-list, .task-input, .mobile.task-item {
        background-color: styles.$very-dark-desaturated-blue;
    }
    .task-item {
        color: white;
        border-bottom: 2px solid styles.$very-dark-grayish-blue;
    }
    
    dd.task-item, dt.task-item {
        span.task-check-mark {
            background-color: styles.$very-dark-grayish-blue;
            .cm-inner {
                background-color: styles.$very-dark-desaturated-blue;
            }
        }
        span.task-check-mark:hover{
            background: -moz-linear-gradient(hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
            background: -webkit-linear-gradient(hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
            background: linear-gradient(hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
        }
    }
    .todo-footer.task-item {
        div {
            color: styles.$dark-grayish-blue;
        }
    }
    .mobile.task-item {
        color: styles.$dark-grayish-blue;
    }
}